.about {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

.about h1 {
  font-size: 60px;
  font-weight: 800;
  color: beige;
}
.about1 h4{
    color: #E2852E;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}
.about1 h1{
    color: rgb(34, 26, 26);
    font-size: 55px;
     font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
  letter-spacing: -4px;
}
.title-underline{
    position: relative;
    width: 150px;
    height: 3px;
    background-color: #E2852E;
    margin: 10px auto 40px auto;
}
.title-underline span{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 6px;
  background-color: #E2852E;
  border-radius: 3px;
}
img{
    height: 500px;
    width: 500px;
}
.para1{
    font-size: 25px;
    color: black;
    font-weight: 800;
    letter-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
}
.para2{
    font-size: 20px;
    color: rgb(63, 59, 59);
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
}
.features {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  flex-direction: column !important;
}

.icon-box {
  background-color: #E2852E;
  padding: 5px 5px;
  border: 4px solid #fff;
  position: relative;
  display: inline-block;
}

.icon-box::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #fcfbfb;
}

.icon-box {
  border: 2px solid #E2852E;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.icon-box i {
  font-size: 40px;
  color: #f8f7f7;
  margin-bottom: 10px;
}

.icon-box:hover i {
  color: #fff;
} 

.feature-box h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-top: 1px;
  color: #2b1d0e;
}
.about3{
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
.stats-section {
  color: white;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box {
  background-color: #E2852E;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.icon-box i {
  font-size: 30px;
  color: #fff;
}

.stat-box h6 {
  margin-top: 5px;
  font-size: 14px;
  color: #E2852E;
  letter-spacing: 1px;
}

.stat-box h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 5px;
}
.footer {
  background-image: url('../assets/bg.jpg');
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.footer .orange-box {
  background-color: #E2852E;
  border: 3px solid #E2852E;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(245, 158, 11, 0.4);
  position: relative;
  top: -80px;  
  z-index: 10;
  margin-bottom: -140px; 
  padding: 20px;
}



.footer .orange-box i {
  font-size: 45px;
  margin-bottom: 10px;
  display: block;
}

.footer .orange-box h4 {
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .orange-box p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.footer h5 {
  color: #E2852E;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
}


.footer a {
  color: #ddd;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #E2852E;
}

/* Icons */
.footer .social-icons a {
  display: inline-block;
  color: #fff;
  background-color: #E2852E;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.footer .social-icons a:hover {
  background-color: #fff;
  color: #E2852E;
}

/* Newsletter input box */
.footer .newsletter-input input {
  border: none;
  outline: none;
  border-radius: 0;
  padding: 10px;
}

.footer .newsletter-input .btn {
  border-radius: 0;
  padding: 10px 20px;
  font-weight: 600;
}

/* Footer bottom bar */
.footer-bottom {
  background-color: #111;
  border-top: 1px solid #333;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.footer-bottom span {
  color: #E2852E;
  font-weight: 600;
}
.signup {
  background-color: #E2852E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 0;
  transition: 0.3s ease;
}

.signup:hover {
  background-color: #fff;
  color: #E2852E;
}

