.loading-wrapper {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  background-color: #1e1b3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.bars {
  display: flex;
  gap: 5px;
}

.bars div {
  width: 6px;
  height: 30px;
  background: #ff6fff; /* pink / purple bar color */
  animation: bounce 1s infinite ease-in-out;
}

.bars div:nth-child(1) { animation-delay: 0s; }
.bars div:nth-child(2) { animation-delay: 0.1s; }
.bars div:nth-child(3) { animation-delay: 0.2s; }
.bars div:nth-child(4) { animation-delay: 0.3s; }
.bars div:nth-child(5) { animation-delay: 0.4s; }

@keyframes bounce {
  0%, 100% { transform: scaleY(0.3); }
  50% { transform: scaleY(1); }
}

.loading-text {
  margin-top: 20px;
  color: #d0d0d0;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: "Arial", sans-serif;
}
