/* body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
} */

.login-container {
  display: flex;
  height: 100vh;
  margin-right: auto;
  background: url('https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b') no-repeat center center/cover;
}

.login-left, .login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: white;
}

.login-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.login-left p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.social-icons a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.login-right {
  background: rgba(0, 0, 0, 0.6); /* Dark overlay for form */
  color: white;
  border-radius: 10px;
  margin: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.login-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #ff6600;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}
