
.master{
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  position: relative;
}
.master1{
  margin-top: -140px;
}

.master h1 {
  font-size: 60px;
  font-weight: 800;
  color: beige;
  /* margin-top: -50px; */
}
.master1 h4{
    color: #E2852E;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}
.master1 h1{
    color: rgb(34, 26, 26);
    font-size: 55px;
     font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
  letter-spacing: -4px;
}
.chef-card {
  background-color: #fff;
  border: none;
  text-align: center;
  transition: transform 0.3s ease;
}

.chef-card:hover {
  transform: translateY(-5px);
}

.chef-img-container {
  position: relative;
}

.chef-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.chef-info {
  background-color: #1a1a1a;
  color: white;
  padding: 20px 10px;
  border: 2px solid #3a3a3a;
  border-top: none;
}

.chef-name {
  color: #E2852E;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.chef-designation {
  color: #dcdcdc;
  margin: 0;
}
