.test {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

.test h1 {
  font-size: 60px;
  font-weight: 800;
  color: beige;
}
.test1 h4{
    color: #E2852E;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}
.test1 h1{
    color: rgb(34, 26, 26);
    font-size: 55px;
     font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
  letter-spacing: -4px;
}
.title-underline{
    position: relative;
    width: 150px;
    height: 3px;
    background-color: #E2852E;
    margin: 10px auto 40px auto;
}
.title-underline span{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 6px;
  background-color: #E2852E;
  border-radius: 3px;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: flex !important;
  justify-content: center;
  align-items: flex-end; 
  width: 100%;
}

.slick-dots li {
  margin: 0 6px;
  display: flex;
  align-items: flex-end; 
}

.slick-dots li button {
  width: 6px;
  height: 30px; 
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.slick-dots li button:before {
  font-size: 0 !important;
  color: transparent !important;
  content: '' !important;
  display: block;
  width: 6px;
  height: 20px;
  background-color: #a8a6a6;
  border-radius: 2px;
  transition: all 0.3s ease;
  align-self: flex-start; 
}

.slick-dots li.slick-active button:before {
  background-color: #E2852E;
  height: 30px;
}

.testimonial-card {
  padding: 20px;
  outline: none;
  transition: all 0.5s ease;
  transform: scale(0.9);
  opacity: 0.5;
}


.slick-center .testimonial-card,
.owl-item.center .testimonial-card,
.testimonial-card.active {
  transform: scale(1);
  opacity: 1;
}

.testimonial-inner {
  position: relative;
  background: #241f1f;
  border-radius: 1px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.5s ease;
}

.testimonial-inner::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: 1px solid #fff;
  pointer-events: none;
  z-index: 1;
}

.client-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.client-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #E2852E;
}

.client-profession {
  color: #e9e7e4;
  font-size: 14px;
  margin-bottom: 10px;
}

.client-text {
  color: aliceblue;
}